/* Leaflet basemap overrides */
.basemaps {
    padding: 0;
    margin-top: 10px !important;
}

.basemap img {
    width: 40px;
    box-shadow: 1px 2px 4px #555;
    border: none;
}


/* Locate control */
.leaflet-locate-control {
    border: none !important;
    box-shadow: 1px 2px 4px #555 !important;
    border-radius: 40px !important;
    background: #FFF;
    margin-top: 40px !important;
    margin-right: 12px !important;
}

.leaflet-locate-control a {
    background: transparent no-repeat center center;
    /*src: https://design.google.com/icons/#ic_my_location*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOGMtMi4yMSAwLTQgMS43OS00IDRzMS43OSA0IDQgNCA0LTEuNzkgNC00LTEuNzktNC00LTR6bTguOTQgM2MtLjQ2LTQuMTctMy43Ny03LjQ4LTcuOTQtNy45NFYxaC0ydjIuMDZDNi44MyAzLjUyIDMuNTIgNi44MyAzLjA2IDExSDF2MmgyLjA2Yy40NiA0LjE3IDMuNzcgNy40OCA3Ljk0IDcuOTRWMjNoMnYtMi4wNmM0LjE3LS40NiA3LjQ4LTMuNzcgNy45NC03Ljk0SDIzdi0yaC0yLjA2ek0xMiAxOWMtMy44NyAwLTctMy4xMy03LTdzMy4xMy03IDctNyA3IDMuMTMgNyA3LTMuMTMgNy03IDd6Ii8+PC9zdmc+);
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
}

#Legend {
    position: absolute;
    padding: 4px;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(175,175,175,0.75);
    z-index: 10000;

    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
#Legend label {
    font-size: 12px;
    margin-right: 6px;
    color: #EEE;
}

.legend-patch {
    color: #FFF;
    text-align: center;
    min-width: 40px;
    padding: 1px 4px;
    opacity: 0.75;
}