.gplaces-search {
    flex: 1;
    border-left: 1px solid #eee;
}

.gplaces-search-input-container {
    padding: 0 4px 0 6px;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: flex-end;
}

.gplaces-search input {
    margin-top: 6px;
    border: none;
    padding: 4px 22px 4px 4px;
    outline: none;
    font-size: 16px;
    color: #aaa;
    background: #eee;
    border-radius: 6px;
    border: 1px solid transparent;
    line-height: 1;
    width: 100%;
    max-width: 300px;
}

/* Only targeting chrome and safari, so this is intentionally not provided for others */
.gplaces-search input::-webkit-input-placeholder {
    font-size: small;
    line-height: 1.5;
    color: #aaa;
}

.gplaces-search-reset {
    position: absolute;
    right: 6px;
    top: 11px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    fill: #aaa;
}

.gplaces-search-spinner {
    position: absolute;
    right: 28px;
    top: 10px;
    background: #eee;
}

.gplaces-search-results {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    top: 40px;
    right: 0;
    background: #f7f7f7;
    color: #777;
    width: 100%;
    max-width: 768px;
    box-shadow: 1px 1px 3px #555;
}

.gplaces-search-results li {
    padding: 8px;
    cursor: pointer;
}

.gplaces-search-results li + li {
    border-top: 1px solid #ddd;
}

.gplaces-search-results li b {
    color: #333;
}

.gplaces-search-noresults {
    margin: 0;
    padding: 20px;
    text-align: center;
    position: absolute;
    z-index: 10000;
    top: 40px;
    left: 0;
    right: 0;
    color: #aaa;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
}
