html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
}

a,
a:active,
a:visited {
    color: #0074d9;
    text-decoration: none;
}

p {
    clear: both;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #0892d0;
    box-shadow: 0 2px 6px #333;
    height: 40px;
    padding: 0 8px;
    line-height: 1;
}
header h1 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}
header h4 {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    color: #fff;
}

header img {
    height: 32px;
    margin-right: 8px;
}

.tabs {
    text-align: center;
}

/* footer only shown for mobile version */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 47px;
    background: #fafafa;
    border-top: 1px solid #ddd;
}

@keyframes pulse-color {
    0% {
        background-color: #bae0f2;
    }
    100% {
        background-color: #fafafa;
    }
}
footer.has-selected-unit {
    background: #fafafa;
    animation-name: pulse-color;
    animation-duration: 1s;
    animation-timing-function: ease;
}

header,
footer {
    z-index: 5000;
}

.hidden {
    display: none !important;
}

.text-quiet {
    color: #666 !important;
}
.text-quieter {
    color: #999 !important;
}
.text-small {
    font-size: small !important;
}
.text-smaller {
    font-size: smaller !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-grow {
    flex-grow: 1;
}

.tab {
    color: #aaa;
    font-size: 10px;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    width: 86px;
    padding-top: 4px;
}
.tab svg {
    fill: #aaa;
}
/* .tab-indicators svg {
    transform: rotate(90deg);
} */
.tab.active {
    color: #0892d0;
}
.tab.active svg {
    fill: #0892d0;
}
.tab label {
    display: block;
}

#ContactButtons button {
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    color: #666;
    border-color: #aaa;
    background: #fff;
    padding: 3px 8px;
}
#ContactButtons button:hover {
    color: #333;
    background: #eee;
}
#ContactButtons button + button {
    margin-left: 0.5em;
}
#ContactButtons button svg {
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -3px;
}

#Sidebar {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 470px;
    border-right: 1px solid #aaa;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    background: #fff;
    box-sizing: border-box;
}
#SidebarHeader {
    margin: 10px 10px 0;
}
#SidebarHeader h3 {
    margin: 0;
}
#SidebarHeaderInner {
    margin: 4px 10px 10px;
}

#Sidebar .tabs {
    margin: 0 -10px;
    background: #fafafa;
    background: #eee;
}

#SidebarHeader .tab {
    padding: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ddd;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #aaa;
}

#SidebarHeader .tab.active {
    background: #fff;
    font-weight: bold;
    border-bottom-color: transparent;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#SidebarHeader .tab label {
    font-size: 14px;
    display: inline;
    margin-left: 4px;
    color: #555;
}
#SidebarHeader .tab.active label {
    color: #333;
}
#SidebarHeader .tab.active svg {
    fill: #333;
}

#SidebarContent {
    padding: 20px 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#PixelDetails #SidebarHeaderInner {
    margin-top: 1.5em;
    /* margin-bottom: 2em; */
}
#PixelDetails h2 {
    margin-bottom: 0.25em;
    margin-top: 0;
}

#ReportDownload {
    margin-top: 8px;
}
#ReportDownload svg {
    vertical-align: middle;
    margin-right: 2px;
    fill: rgba(0, 116, 217, 0.75) !important;
}

#ContentOverlay {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 48px;
    top: 40px;
    padding: 20px 20px 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 4001;
}

#ContentOverlay p {
    line-height: 1.6;
    font-size: 16px;
}

#Content {
    z-index: 4001;
    flex: 1;
}

#InfoButton {
    font-weight: bold;
    color: #888;
    border: 2px solid #888;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
    margin: 8px 8px 0 6px;
}

#InfoButton.active {
    color: #0892d0;
    border-color: #0892d0;
}

#CloseButton {
    fill: #fff;
    fill-opacity: 0.75;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#Sidebar #CloseButton {
    fill: #aaa;
    width: 32px;
    height: 32px;
}
#Sidebar #CloseButton:hover {
    fill: #555;
}

#Content h2 {
    padding: 0;
    margin: 0 0 0.1em 0;
    font-weight: bold;
    text-align: center;
}
#Content h3 {
    padding: 0;
    margin: 0 0 0.2em 0;
}
#Content h4 {
    padding: 0;
    margin: 0 0 0.1em 0;
    color: #666;
    font-weight: normal;
}
#Content h5 {
    font-weight: normal;
    margin: 0 0 0.1em 0;
}
#Content p,
.modal p {
    margin-top: 0;
    line-height: 1.4;
    font-size: 14px;
    color: #666;
}

#Content ul {
    margin: 0;
    padding-left: 18px;
}
#Content li {
    margin: 0 0 4px 0;
    font-size: 14px;
}
#Content label {
    margin: 0;
    color: #aaa;
    font-size: 12px;
}

#Content section {
    padding-bottom: 1rem;
}
#Content section + section {
    margin-top: 1rem;
}

#Ecosystems {
    margin: 0 -20px;
}
#EcosystemsNav {
    background: rgba(204, 204, 199, 0.2);
    padding: 0.5em 0 0.25em;
    align-items: center;
    margin: 0 -20px;
}
#EcosystemsNav img {
    height: 24px;
    cursor: pointer;
    margin: 0 4px;
    opacity: 0.4;
    filter: grayscale(50%);
    background: #fff;
    border-radius: 24px;
}
#EcosystemsNav img.active {
    opacity: 1;
    filter: grayscale(0);
    height: 32px;
}

.ecosystem-header {
    background: #eef7fc;
    height: 70px;
    padding: 0 20px;

    border-bottom: 1px solid #bae0f2;
}
#ContentOverlay .ecosystem-header {
    margin: -20px -20px 0; /* expand to full width of container */
}
#Sidebar .ecosystem-header {
    padding: 0 20px;
}
#Sidebar .ecosystem:first-child .ecosystem-header {
    margin-top: -20px;
}
#Sidebar .ecosystem + .ecosystem {
    margin-top: 2rem;
}
#Sidebar .ecosystem + .ecosystem .ecosystem-header {
    border-top: 1px solid #bae0f2;
}

#PixelDetails .ecosystem-header {
    height: 54px;
}
#PixelDetails .ecosystem:first-child .ecosystem-header {
    margin-top: 0 !important;
}

.ecosystem-header img {
    margin-right: 8px;
    height: 40px;
}
.ecosystem-header h3 {
    padding: 0;
    margin: 0;
}
.ecosystem-header div {
    flex: 1;
}

.indicators-container section + section {
    margin-top: 1rem !important;
}

.indicator {
    padding: 1rem 20px 2rem;
    cursor: pointer;
    box-sizing: border-box;
}
#Sidebar .indicator:hover {
    background: #f5fbfd;
}
.indicator h4 {
    margin: 0 0 1em 0 !important;
    color: #0892d0 !important;
}

.indicator label {
    font-size: smaller;
    color: #aaa;
}
.indicator label.value {
    margin-top: 0.5em;
    display: block;
}
.indicator .domain {
    position: relative;
    /* margin: 16px 14px 0; */
    margin: 4px 14px 0;
    flex: 1;
}
.indicator .domain-line {
    height: 2px;
    background: #ddd;
}
.indicator .marker-label {
    position: absolute;
    top: 12px;
    margin-left: -1em;
    font-size: 10px;
    vertical-align: top;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
}
.indicator .marker-line {
    position: absolute;
    top: -12px;
    height: 24px;
    width: 1px;
    border-left: 1px dashed #666;
}

.indicator .domain-categories {
    border: 1px solid #aaa;
}
.indicator .category {
    height: 12px;
    flex: 1;
    background: #f6f6f6;
}
.indicator .category + .category {
    border-left: 1px solid #aaa;
}
.indicator .category.condition-good {
    background: #0f05;
}
.indicator .category.condition-not-good {
    background: #f005;
}
.indicator .category.current {
    background: #aaa;
}
.indicator .category.current.condition-good {
    background: #0f0;
}
.indicator .category.current.condition-not-good {
    background: #f00;
}

.no-indicators {
    margin: 20px 10px;
    font-style: italic;
    font-size: large;
    text-align: center;
    color: #ccc;
}

.indicator-detail-charts {
    margin-top: 2rem;
}

.indicator-good-condition-divider {
    margin: 1.5rem 0;
}
.indicator-good-condition-divider .divider {
    border-top: 1px dashed #ccc;
    margin: 4px 0 3px;
}

.indicator-chart-heading {
    min-width: 3.5em;
    font-size: 0.8em;
    font-weight: bold;
    flex: 0;
}

.indicator-details-caption,
.indicator-dataset-link {
    margin-top: 2em !important;
}

#MapContainer {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#Sidebar + #MapContainer {
    left: 470px;
}

#Map {
    height: 100%;
    width: 100%;
}

#MapCenterIcon {
    /* from: https://material.io/tools/icons/?icon=filter_tilt_shift&style=outline */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIGlkPSJCb3VuZGluZ19Cb3hlcyI+PGcgaWQ9InVpX3g1Rl9zcGVjX3g1Rl9oZWFkZXJfY29weV8zIj48L2c+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAsMGgyNHYyNEgwVjB6Ii8+PC9nPjxnIGlkPSJPdXRsaW5lXzFfIj48ZyBpZD0idWlfeDVGX3NwZWNfeDVGX2hlYWRlcl9jb3B5XzQiPjwvZz48cGF0aCBkPSJNMTEsNC4wN1YyLjA1Yy0yLjAxLDAuMi0zLjg0LDEtNS4zMiwyLjIxTDcuMSw1LjY5QzguMjEsNC44Myw5LjU0LDQuMjUsMTEsNC4wN3ogTTE4LjMyLDQuMjZDMTYuODQsMy4wNSwxNS4wMSwyLjI1LDEzLDIuMDV2Mi4wMmMxLjQ2LDAuMTgsMi43OSwwLjc2LDMuOSwxLjYyTDE4LjMyLDQuMjZ6IE0xOS45MywxMWgyLjAyYy0wLjItMi4wMS0xLTMuODQtMi4yMS01LjMyTDE4LjMxLDcuMUMxOS4xNyw4LjIxLDE5Ljc1LDkuNTQsMTkuOTMsMTF6IE01LjY5LDcuMUw0LjI2LDUuNjhDMy4wNSw3LjE2LDIuMjUsOC45OSwyLjA1LDExaDIuMDJDNC4yNSw5LjU0LDQuODMsOC4yMSw1LjY5LDcuMXogTTQuMDcsMTNIMi4wNWMwLjIsMi4wMSwxLDMuODQsMi4yMSw1LjMybDEuNDMtMS40M0M0LjgzLDE1Ljc5LDQuMjUsMTQuNDYsNC4wNywxM3ogTTE1LDEyYzAtMS42Ni0xLjM0LTMtMy0zcy0zLDEuMzQtMywzczEuMzQsMywzLDNTMTUsMTMuNjYsMTUsMTJ6IE0xOC4zMSwxNi45bDEuNDMsMS40M2MxLjIxLTEuNDgsMi4wMS0zLjMyLDIuMjEtNS4zMmgtMi4wMkMxOS43NSwxNC40NiwxOS4xNywxNS43OSwxOC4zMSwxNi45eiBNMTMsMTkuOTN2Mi4wMmMyLjAxLTAuMiwzLjg0LTEsNS4zMi0yLjIxbC0xLjQzLTEuNDNDMTUuNzksMTkuMTcsMTQuNDYsMTkuNzUsMTMsMTkuOTN6IE01LjY4LDE5Ljc0QzcuMTYsMjAuOTUsOSwyMS43NSwxMSwyMS45NXYtMi4wMmMtMS40Ni0wLjE4LTIuNzktMC43Ni0zLjktMS42Mkw1LjY4LDE5Ljc0eiIvPjwvZz48L3N2Zz4=);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    content: "";
    display: block;
    position: absolute;
    z-index: 1000;
}

#ZoomInNote {
    position: absolute;
    top: 0;
    left: 54px;
    right: 54px;
    z-index: 2000;
    padding: 4px 0;
    box-shadow: 0 2px 6px #666;
    background: #fff;
    border-radius: 0 0 10px 10px;
}

.is-mobile #ZoomInNote {
    left: 0;
    right: 0;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}

.crosshatch {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
    background-repeat: repeat;
}

.priorityColorPatch {
    padding: 8px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.priorityColorPatch + p {
    margin: 4px 4px 20px 4px;
}

#Sidebar #IndicatorDetailsHeader {
    margin: -20px -20px 0;
    cursor: pointer;
}
#IndicatorDetailsHeader h3 {
    line-height: 1.2;
    font-size: 16px;
}
#IndicatorDetailsHeader img {
    margin-left: 8px;
}
#IndicatorDetails {
    flex: 1;
    overflow-y: auto;
    margin: 0 -20px;
    padding: 20px;
}
#IndicatorDetails .chart-labeledpercentbar {
    font-size: 12px;
    width: 100%;
}

.chart-pie {
    margin: 1em 0;
}
.chart-pie-legend {
    margin-left: 2em;
}
.chart-pie-legend-patch {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.5em;
    flex-shrink: 0;
}
.chart-pie-legend-row + .chart-pie-legend-row {
    margin-top: 0.5em;
}

.chart-whisker .domain {
    stroke-width: 2;
    stroke-linecap: round;
    opacity: 0.75;
}

.chart-labeledpercentbar {
    margin: 0 0 20px 0;
}
.chart-labeledpercentbar label {
    min-width: 36px;
    margin-left: 12px !important;
}
#Content h4 + .chart-labeledpercentbar {
    margin-top: 14px;
}

.chart-line {
    position: relative;
    margin-top: 1em;
}
.chart-line svg {
    position: relative;
    left: 1.5em;
    margin-bottom: 1em;
    margin-right: 30px;
    max-width: 384px;
}
.chart-line-y-axis-label {
    position: absolute;
    left: -4em;
    top: 6em;
    transform: rotate(-90deg);
}

.modal-scrim {
    position: absolute;
    z-index: 5000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}
.modal-container {
    position: absolute;
    z-index: 5001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.modal {
    background: #fff;
    border: 1px solid #333;
    box-shadow: 2px 2px 6px #000;
    border-radius: 6px;
    padding: 20px;
}
.modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
}
.modal-title {
    margin: 0;
}
.modal-close {
    fill: #999;
    cursor: pointer;
    margin: -10px -10px 0 0;
}
.modal-close:hover {
    fill: #333;
}

.gplaces-search {
    padding: 10px;
    margin: 0 -20px;
}

.gplaces-search-input-container {
    position: relative;
    background: #eee;
    padding: 10px;
    margin: 0 -10px;
}

.gplaces-search input {
    border: none;
    outline: none;
    font-size: 0.9em;
    background: transparent;
    line-height: 1;
    flex-grow: 1;
    padding: 0.5em 0.65em 0.5em 28px;
    background: #fff;
    border-radius: 6px;
}

.is-mobile .gplaces-search input {
    font-size: 16px; /* otherwise mobile device zooms in */
}
.is-mobile .gplaces-search svg {
    top: 1em;
}

/* Only targeting chrome and safari, so this is intentionally not provided for others */
.gplaces-search input::-webkit-input-placeholder {
    font-size: small;
    line-height: 1.5;
    color: #aaa;
}
.gplaces-search svg {
    position: absolute;
    left: 14px;
    fill: #666;
}
.gplaces-search-reset {
    cursor: pointer;
    color: #aaa !important;
    font-size: smaller;
    padding: 0 8px;
}

.gplaces-search-results {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}

.gplaces-search-results li {
    padding: 8px;
    cursor: pointer;
}

.gplaces-search-results a {
    display: block;
    color: #777;
}

.gplaces-search-results a + a {
    border-top: 1px solid #ddd;
}

.gplaces-search-results li b {
    color: #333;
}

.gplaces-search-loading,
.gplaces-search-noresults {
    padding: 20px;
    text-align: center;
    color: #aaa;
}

/* Leaflet basemap overrides */
.is-mobile .basemaps {
    padding: 0 !important;
    margin-top: 40px !important;
}
.is-mobile .basemap img {
    width: 40px !important;
    box-shadow: 1px 2px 4px #555 !important;
    border: none !important;
}

/* Locate control */
.leaflet-locate-control {
    background: #fff;
}
.is-mobile .leaflet-locate-control {
    box-shadow: 1px 2px 4px #555 !important;
    margin-right: 12px !important;
    border-radius: 40px !important;
    border: none !important;
}
.leaflet-locate-control a {
    background: transparent no-repeat center center;
    /*src: https://material.io/tools/icons/?icon=near_me&style=outline*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PHBhdGggZD0iTTE3LjI3IDYuNzNsLTQuMjQgMTAuMTMtMS4zMi0zLjQyLS4zMi0uODMtLjgyLS4zMi0zLjQzLTEuMzMgMTAuMTMtNC4yM00yMSAzTDMgMTAuNTN2Ljk4bDYuODQgMi42NUwxMi40OCAyMWguOThMMjEgM3oiLz48L3N2Zz4=);
}
.is-mobile .leaflet-locate-control a {
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
}

.leaflet-pixelmode-control a {
    background: transparent no-repeat center center;
    /*src: https://material.io/tools/icons/?icon=view_module&style=baseline*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PGc+PHBhdGggZD0iTTQgNXYxM2gxN1Y1SDR6bTEwIDJ2My41aC0zVjdoM3pNNiA3aDN2My41SDZWN3ptMCA5di0zLjVoM1YxNkg2em01IDB2LTMuNWgzVjE2aC0zem04IDBoLTN2LTMuNWgzVjE2em0tMy01LjVWN2gzdjMuNWgtM3oiLz48L2c+PC9zdmc+);
}
.leaflet-pixelmode-control.active a {
    background-color: #aaa !important;
    /*src: https://material.io/tools/icons/?icon=view_module&style=outline*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTQgMTFoNVY1SDR2NnptMCA3aDV2LTZINHY2em02IDBoNXYtNmgtNXY2em02IDBoNXYtNmgtNXY2em0tNi03aDVWNWgtNXY2em02LTZ2Nmg1VjVoLTV6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

.leaflet-geonames-icon {
    /*src: https://material.io/tools/icons/?icon=directions&style=outline*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PHBhdGggZD0iTTIyLjQzIDEwLjU5bC05LjAxLTkuMDFjLS43NS0uNzUtMi4wNy0uNzYtMi44MyAwbC05IDljLS43OC43OC0uNzggMi4wNCAwIDIuODJsOSA5Yy4zOS4zOS45LjU4IDEuNDEuNTguNTEgMCAxLjAyLS4xOSAxLjQxLS41OGw4Ljk5LTguOTljLjc5LS43Ni44LTIuMDIuMDMtMi44MnptLTEwLjQyIDEwLjRsLTktOSA5LTkgOSA5LTkgOXoiLz48cGF0aCBkPSJNOCAxMXY0aDJ2LTNoNHYyLjVsMy41LTMuNUwxNCA3LjVWMTBIOWMtLjU1IDAtMSAuNDUtMSAxeiIvPjwvc3ZnPg==);
}

.leaflet-zoom-box-icon.active {
    background-color: #aaa !important;
}

#Legend {
    position: absolute;
    padding: 4px;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(175, 175, 175, 0.75);
    z-index: 10000;

    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#Legend label {
    font-size: 12px;
    margin-right: 6px;
    color: #eee;
}

.legend-patch {
    color: #fff;
    text-align: center;
    min-width: 40px;
    padding: 1px 4px;
    opacity: 0.75;
}

/* leaflet legend */
.leaflet-html-legend {
    width: auto !important;
}
.leaflet-html-legend h4,
.leaflet-html-legend label {
    font-size: 1.2em !important;
}
.leaflet-html-legend .symbol {
    width: 20px !important;
    height: 14px !important;
    border-radius: 3px !important;
}
.leaflet-html-legend .legend-row + .legend-row {
    margin-top: 6px;
}
