.App {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
/*.tabContent {*/
  /*position: absolute;*/
    /*!*height: 485px;*!*/
    /*!*width: 100%;*!*/
  /*top: 40px;*/
    /*bottom: 48px;*/
    /*right: 0px;*/
    /*left: 0px;*/
    /*background: #FFF;*/
    /*padding: 0px;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*display:block;*/
    /*z-index: 10000;*/
/*}*/

#TopBar, #Footer, #Content{
    z-index: 10000;
}

/*#Container {*/
    /*background: #FFF;*/
/*}*/

#TopBar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background: #FAFAFA;
    height: 39px;
    border-bottom: 1px solid #AAA;
    color: #a4aab3;
}
#TopBar .button {
    text-align: center;
}

#Content {
  background: #FFF;
    display: flex;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 48px;
    top: 40px;
    background: #FFF;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

#Content.modal {
    top: 50px;
    bottom: 50px;
    left: 10px;
    right: 10px;
    border: 1px solid #AAAAAA;
}

#Content.active {
    display: block;
}

#Content h2 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 2px;
    margin-bottom: 4px;
    margin-top: 0px;
    font-size: 20px;
    color: #a4aab3;
}

#Content h4 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 14px;
    color: #a4aab3;
}

#Content p {
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

#Content li {
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

#Content label {
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

.tabContentHolder {
  width: 100%;
    height: 100%;
    position: relative;
  background: #FFF;

}

#Footer {
    height: 47px;
    background: #FAFAFA;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #AAA;
    display: flex;
    justify-content: center;
    align-content: stretch;
    /*display: none;*/
}

#Footer2 {
    height: 32px;
    background: #FAFAFA;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    /*display: none;*/
}
/*#Footer.active {*/
    /*display: block;*/
/*}*/


#MapContainer {
    position: absolute;
    top:40px;
    bottom:48px;
    left: 0;
    right:0;
    z-index: 1;
}
#Map {
    height: 100%;
    width: 100%;
}


.tab {
    color:#AAA;
    font-size: 10px;
    flex-grow: 1;
    padding-top: 5px;
    cursor: pointer;
}

#Footer .tab {
    width: 86px;
}

.tab.active {
  color: #0892D0;
    background: #DDD;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.imgwrap{
    test-align: center;
}
.crosshatch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
  background-repeat: repeat;
}
