.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


header, footer{
    z-index: 5000;
}


header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background: #FAFAFA;
    height: 39px;
    border-bottom: 1px solid #DDD;
    color: #a4aab3;
}
header .button {
    text-align: center;
}

#UnitName {
    background: #0892D0;
    height: 39px;
    position: absolute;
    z-index: 5001;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #DDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#Content {
    background: #FFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 48px;
    top: 40px;
    padding: 20px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5001;
}

#UnitName h1 {
    padding: 0;
    margin:  4px 0;
    font-size: 16px;
    font-weight: normal;
    color: #FFF;
    flex: 1;
}

#InfoButton {
    font-weight: bold;
    color: #888;
    border: 2px solid #888;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
    margin: 8px 8px 0 6px;
}
#InfoButton.active {
    color: #0892D0;
    border-color: #0892D0;
}

#CloseButton {
    margin-right: 4px;
    fill: #FFF;
    fill-opacity: 0.75;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


#Content h2 {
    padding: 0;
    margin: 0 0 0.1em 0;
    font-weight: bold;
    text-align: center;
}

#Content h3 {
    padding: 0;
    margin: 0 0 0.2em 0;
}

#Content h4 {
    padding: 0;
    margin: 0 0 0.1em 0;
    color: #777;
    font-weight: normal;
}

#Content p {
    margin-top: 0;
    line-height: 1.4;
}

#Content ul {
    margin: 0;
    padding-left: 18px;
}

#Content li {
    margin: 0 0 4px 0;
    /*color: #a4aab3;*/
    font-size: 14px;
}

#Content label {
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

#Content.tabs-top {
    top: 40px;
    bottom: 0px;
}


#UnitLabel {
    color: #555;
    padding-top: 4px;
}

.tabContentHolder {
  width: 100%;
    height: 100%;
    position: relative;
  background: #FFF;

}

footer {
    height: 47px;
    background: #FAFAFA;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
    transition: bottom 0.25s ease 0.1s;
}

#EcosystemsNav {
    background: #FFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    padding: 4px 0 10px;
}

#EcosystemsNav img {
    cursor: pointer;
    padding: 0 4px;
    opacity: 0.4;
    filter: grayscale(50%);
}

#EcosystemsNav img.active {
    opacity: 1;
    filter: grayscale(0);
}

.ecosystem {
    min-height: 50vh;
    padding-bottom: 10px;
}

.ecosystem-header {
    padding-bottom: 14px;
    border-bottom: 1px solid #EEE;
}

.ecosystem-header img {
    margin-right: 8px;
    height: 40px;
}

.ecosystem-header h3 {
    padding: 0;
    margin: 0;
}

.ecosystem-header div {
    flex: 1;
}

.indicator {
    margin: 16px 6px 0 6px;
    border-radius: 8px;
    background-color: #EEE;
    padding: 6px 10px 10px 10px;
}

.no-indicators {
    margin: 20px 10px;
    font-style: italic;
    font-size: large;
    text-align: center;
    color: #CCC;
}

#MapContainer {
    position: absolute;
    top:40px;
    bottom:0;
    left: 0;
    right:0;
    z-index: 1;
}
#Map {
    height: 100%;
    width: 100%;
}


.tab {
    color:#AAA;
    font-size: 10px;
    flex-grow: 1;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
    min-width: 50px;
}
.tab.active {
  color: #0892D0;
}
.tab img {
    height: 20px;
}
.tab label {
    display: block;
}


header .tab {
    flex-grow: 0;
}

footer .tabs {
    display: flex;
    flex-direction: row;
}

footer .tab {
    width: 86px;
    padding-top: 0;
    padding-bottom: 8px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.crosshatch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
  background-repeat: repeat;
}


.chart-whisker .domain {
    stroke-width:3;
    /*stroke: #a4aab3;*/
    stroke-linecap: round;
}

.flex-chart{
    width: 100%;
    height: 10px;
    display: flex;
    animation: chart-grow 1s;
    background-color: #9da0a4;
}

.flex-chart--column {
    flex-direction: column;
}

.flex-chart > .line{
    padding: 0.2rem;
    flex-basis: 0px;
    background-color: #0074D9;
}

#Content table {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #9da0a4;
    border-collapse: collapse;
    width: 100%;
}

#Content td th {
    font-size: 10px;
    color: #d3d3d3;
    border: 1px solid #ececec;
    text-align: left;
    padding: 12px;
}

#Content tr:nth-child(even){
    background-color: #ececec;
}

#Content section + section {
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding-top: 24px;
}

.priorityColorPatch {
    padding: 8px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.priorityColorPatch + p {
    margin: 4px 4px 20px 4px;
}

.chart-labeledpercentbar {
    margin: 0 0 20px 0;
}

#Content h4 + .chart-labeledpercentbar {
    margin-top: 14px;
}