html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

a, a:active, a:visited {
    color: #0074D9;
    text-decoration: none;
}

.text-quiet {
    color: #666;
}

.text-quieter {
    color: #999;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.text-right {
    text-align: right;
}

.flex-container{
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
}
.flex-container2{
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
/*.flex-container3{*/
    /*display: -webkit-flex;*/
    /*display:flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
/*}*/

.flex-justify-start {
    justify-content: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-item{
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

.flex-item2{
    margin: 2px;
    color: #a4aab3;
    font-size: 12px;
}

.flex-item2.active {
    margin: 2px;
    color: #0892D0;
    background: #DDD;
}


/*#Footer.active {*/
/*display: block;*/
/*}*/

.button {
    color:#AAA;
    font-size: 10px;
    flex-grow: 1;
    padding-top: 5px;
    cursor: pointer;
}

.button.active {
    color: #0892D0;
    background: #DDD;
}
.button img{
    flex-grow: 0;
}
.imgwrap{
    test-align: center;
}
.button + .button {

}

.flex-chart{
    width: 100%;
    height: 10px;
    display: flex;
    animation: chart-grow 1s;
    background-color: #9da0a4;
}

.flex-chart--column {
    flex-direction: column;
}

.flex-chart > .line{
    padding: 0.2rem;
    flex-basis: 0px;
    background-color: #0074D9;
}
