html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

/*#root{*/
/*width: inherit;*/
/*height: inherit;*/
/*background-color: #000;*/
/*}*/



.flex-container{
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-container2{
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-item{
    margin: 0;
    color: #a4aab3;
    font-size: 12px;
}

.flex-item2{
    margin: 2px;
    color: #a4aab3;
    font-size: 12px;
}

.flex-item2.active {
    margin: 2px;
    color: #0892D0;
    background: #DDD;
}


/*#Footer.active {*/
/*display: block;*/
/*}*/

.button {
    color:#AAA;
    font-size: 10px;
    flex-grow: 1;
    padding-top: 5px;
    cursor: pointer;
}

.button.active {
    color: #0892D0;
    background: #DDD;
}
.button img{
    flex-grow: 0;
}
.imgwrap{
    test-align: center;
}
.button + .button {

}
